<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SITCA01ConnectionString" connectionString="Data Source=JARVIZ;Initial Catalog=SITCA01;Persist Security Info=True;User ID=invitado;Password=invitado"
      providerName="System.Data.SqlClient" />
    <add name="NorthwindConnectionString" connectionString="Data Source=JARVIZ;Initial Catalog=Northwind;Persist Security Info=True;User ID=invitado;Password=invitado"
      providerName="System.Data.SqlClient" />
    <add name="TLBDConnectionString" connectionString="Data Source=JARVIZ;Initial Catalog=TLBD;Persist Security Info=True;User ID=guest;Password=bobo12"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
</configuration>